<h1> Serviços </h1>


<div class="container">
  <div class="imagem1">
    <a href="servicos/boxVidro">
      <img class="img-fluid teste" src="assets/servicos/Box_de_Vidro.jpeg" alt="">
    </a>
    <h2>Box de Vidro</h2>
    <p>Venda e instalação de boxes de vidro</p>
    <button class="button-services" type="button" routerLink="/servicos/boxVidro">Veja mais</button>
  </div>

  <div class="imagem1">
    <a href="servicos/telas">
      <img class="img-fluid teste" src="assets/servicos/Tela_de_protecao.jpeg" alt="">
    </a>
    <h2>Telas de proteção e anti insetos</h2>
    <p>Venda e instalação de telas de proteção e anti insetos</p>
    <button class="button-services" type="button" routerLink="/servicos/telas">Veja mais</button>
  </div>

  <div class="imagem1">
    <a href="servicos/varaisTeto">
      <img class="img-fluid teste" src="assets/servicos/Varal_teto.jpeg" alt="">
    </a>
    <h2>Varais de teto</h2>
    <p>Varais de teto em aluminio</p>
    <button class="button-services" type="button" routerLink="/servicos/varaisTeto">Veja mais</button>
  </div>

</div>


<div class="container">
  <div class="imagem1">
    <a href="servicos/espelhos">
      <img class="img-fluid teste" src="assets/servicos/Espelho.jpeg" alt="">
    </a>
    <h2>Espelhos</h2>
    <p>Espelhos de varios modelos</p>
    <button class="button-services" type="button" routerLink="/servicos/espelhos">Veja mais</button>
  </div>

  <div class="imagem1">
    <a href="servicos/portasEJanelas">
      <img class="img-fluid teste" src="assets/servicos/Porta.jpeg" alt="">
    </a>
    <h2>Portas e janelas</h2>
    <p>Venda e instalação de portas e janelas de vidros ou esquadrias</p>
    <button class="button-services" type="button" routerLink="/servicos/portasEJanelas">Veja mais</button>
  </div>

  <div class="imagem1">
    <a href="servicos/toldos">
      <img class="img-fluid teste" src="assets/servicos/Toldo.jpeg" alt="">
    </a>
    <h2>Toldos</h2>
    <p>Toldos em policarbonato em moldura de alumínio</p>
    <button class="button-services" type="button" routerLink="/servicos/toldos">Veja mais</button>
  </div>

</div>
