<h1> Serviços </h1>
<hr>

<div class="container">
  <div class="imagem1">
    <a href="servicos">
      <img class="img-fluid teste" src="assets/TestImage.png" alt="">
      <h2>Serviço de teste</h2>
    </a>
    <p>Aqui é onde vai ficar a descrição dos paranaues</p>
    <a href="servicos"> <h2>Saiba mais</h2> </a>
  </div>

  <div class="imagem1">
    <a href="servicos">
      <img class="img-fluid teste" src="assets/TestImage.png" alt="">
      <h2>Serviço de teste</h2>
    </a>
    <p>Aqui é onde vai ficar a descrição dos paranaues</p>
    <a href="servicos"> <h2>Saiba mais</h2> </a>
  </div>

  <div class="imagem1">
    <a href="servicos">
      <img class="img-fluid teste" src="assets/TestImage.png" alt="">
      <h2>Serviço de teste</h2>
    </a>
    <p>Aqui é onde vai ficar a descrição dos paranaues</p>
    <a href="servicos"> <h2>Saiba mais</h2> </a>
  </div>

</div>

<div class="container">
  <div class="imagem1">
    <a href="servicos">
      <img class="img-fluid teste" src="assets/TestImage.png" alt="">
      <h2>Serviço de teste</h2>
    </a>
    <p>Aqui é onde vai ficar a descrição dos paranaues</p>
    <a href="servicos"> <h2>Saiba mais</h2> </a>
  </div>

  <div class="imagem1">
    <a href="servicos">
      <img class="img-fluid teste" src="assets/TestImage.png" alt="">
      <h2>Serviço de teste</h2>
    </a>
    <p>Aqui é onde vai ficar a descrição dos paranaues</p>
    <a href="servicos"> <h2>Saiba mais</h2> </a>
  </div>

  <div class="imagem1">
    <a href="servicos">
      <img class="img-fluid teste" src="assets/TestImage.png" alt="">
      <h2>Serviço de teste</h2>
    </a>
    <p>Aqui é onde vai ficar a descrição dos paranaues</p>
    <a href="servicos"> <h2>Saiba mais</h2> </a>
  </div>

</div>
