<h1> Telas de Proteção </h1>
<hr>

<div class="container">
  <div class="imagem1">
    <a>
      <img class="img-fluid teste" src="assets/servicos/Tela_de_protecao.jpeg" alt="">
    </a>
    <h2>Telas de Proteção</h2>
    <p>Rede de proteção- feita em náilon nas medidas 3m , 5m e 10m com
      ganchos galvanizado ou inox para segurança de  seus pets e familiares
      ,serviço com qualidade e segurança com garantia de uma ano.</p>

    <p>Tela anti-inseto ,produzidas em molduras de alumínio na cor cinza
      ,bronze,preta e branca ,tela revestida em pvc anti-chamas com a
      garantia de um ano.
    </p>
    <button class="button-services" type="button" routerLink="/servicos">Voltar</button>
  </div>
</div>
