<h1> Telas de Proteção </h1>

<div class="container">
  <div class="imagem1">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner proporcao">
        <div class="carousel-item active">
          <img src="assets/servicos/TelasProtecao/Tela5.jpeg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="assets/servicos/TelasProtecao/Tela6.jpeg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="assets/servicos/TelasProtecao/Tela7.jpeg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="assets/servicos/TelasProtecao/Tela4.jpeg" class="d-block w-100" alt="">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div>
      <h2>Telas de Proteção</h2>
      <p>Rede de proteção feita em náilon nas medidas 3m, 5m e 10m.Com
        ganchos galvanizado ou inox para segurança de seus pets e familiares,
        serviço com qualidade e segurança com garantia de uma ano.</p>

      <p>Tela anti-inseto, produzidas em molduras de alumínio na cor cinza,
        bronze, preta e branca, tela revestida em pvc anti-chamas.
      </p>
      <p>Garantia de um ano</p>
    </div>
    <div class="div-buttons-services">
      <button class="button-services" type="button" routerLink="/servicos">Voltar</button>
      <a target="_blank" href="https://wa.me/5581996652325"><button class="button-services">Peça já seu
          orçamento!</button></a>
    </div>
  </div>
</div>
