<section>
  <div class="container-menu">
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>

      <ul class="menu__box">
        <li><a class="menu__item" routerLink="">Home</a></li>
        <li><a class="menu__item" routerLink="/servicos">Serviços</a></li>
      </ul>
    </div>
    <div>
      <img class="imglogo" src="../assets/logosilva.png" alt="">
    </div>
  </div>
</section>
<router-outlet></router-outlet>
<div class="container-footer">
  <div class="redes-sociais">
    <img class="insta-img" src="../assets/instagram-brands.svg" alt="" />
    <img class="wpp-img" src="../assets/whatsapp-brands.svg" alt="" />
  </div>
  <h1>DESENVOLVEDORES</h1>
  <div class="linkedin">
    <div class="douglas">
      <a target="_blank" href="https://www.linkedin.com/in/douglas-luiz-1731b212a/">
        <p>Douglas Luís</p>
        <img class="linkedin-img" src="../assets/linkedin-brands.svg" alt="" />
      </a>
    </div>
    <div class="fernanda">
      <a target="_blank" href="https://www.linkedin.com/in/fernanda-dos-santos-silva-224377213/">
        <p>Fernanda Santos</p>
        <img class="linkedin-img" src="../assets/linkedin-brands.svg" alt="" />
      </a>
    </div>
  </div>
</div>
