section {
  background: #f5f5f5;
  box-shadow: 0 0 2em  rgb(5, 66, 119);
}
.container-menu{
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
}

a{
  text-decoration: none;
  color: #333;
}

.imglogo{
  width: 350px;
  margin-top: -70px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 50px;
  left: 20px;
  width: 40px;
  cursor: pointer;
  z-index: 101;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #242858;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px  rgb(5, 66, 119);
  transition-duration: .25s;
  z-index: 100;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #8cb5c7;
}

.container-footer{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(42, 48, 85, 0.589);
  box-shadow: 0 0 2em  rgb(5, 66, 119);
  border-radius: 16px;
  height: 250px;
  padding-bottom: 20px;
}

.redes-sociais{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid  rgb(35, 13, 230);
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.linkedin-img{
  width: 30px;
  margin-left:10px;
  margin-right:10px;
}
.wpp-img,
.insta-img{
  width: 50px;
  margin-right: 15px;
  cursor: pointer;
  margin-left: 30px;
}
.local-img{
  width: 50px;
  height: 50px;
}

.linkedin{
  display:flex;
  justify-content:center;
}
.localizacao-div{
  display: flex;
}

.douglas,
.fernanda{
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
}

@media only screen and (max-width: 600px) and (min-width: 280px) {
 section{
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
 }
  .imglogo {
    display: flex;
    width: 70%;
    margin-top:-30px;
    margin-left: 100px;
  }


  .container-footer{
    height:450px;
    border-radius: 0px;
  }

  h1{
    font-size: 30px;
  }

  .douglas,
  .fernanda{
    width: 40%;
    display: flex;
    border-bottom: none;
    align-items: center;
    justify-content: center;
  }

  .redes-sociais{
    flex-direction: column;
  }
}
