<div class="container">
  <div class="sobre-nos">
    <div class="text-sobre-nos">
      <h1>Sobre nós</h1>
      <p>somos silva serralharia e vidraçaria, desenvolvemos uma equipe de profissionais qualificados para levar o
        melhor a você. Somos especialistas em vidros, espelhos e aluminio em geral.Temos feito projetos com muita
        dedicação e afinco, tudo para garantir sua satisfação.
        Nosso objetivo é oferecer um serviço de qualidade com menor custo benefício, uma ampla forma de pagamento,
        melhor atendimento, rapidez na entrega e garantia.
      </p>
      <a target="_blank" href="https://wa.me/5581996652325"><button>Peça já seu orçamento!</button></a>
    </div>
  </div>
</div>
<div class="frase-efeito">
  <p class="aspas">"</p>
  <p class="text-efeito">Nosso objetivo é sempre fazer o melhor que o esperado!</p>
  <p class="aspas">"</p>
</div>
<div class="container-baixo">
  <div class="Carousel">

  </div>
  <!-- <img class="gif-services" src="../../../assets/imagesServices.gif" alt=""> -->
  <div class="text-services">
    <h1>Serviços</h1>
    <h2>Contamos com inúmeros serviços de qualidades esperando por você!</h2>
    <p>Trabalhamos com rede de proteçao tela anti-inseto, varais de teto, espelhos em geral, portas e janelas de vidros
      ou esquadrias, grama sintética,película para vidros, toldos em policarbonato em moldura de alumínio, movéis em
      metalon com madeira e cortinas persiana.</p>
      <button class="button-services">Veja mais</button>
  </div>


</div>
<div class="vantagens">
  <div class="vantagens-container">
    <div class="linha"></div>
    <div class="text-vantagens">
      <h2>Porque nos escolher?</h2>
    </div>
    <div class="linha"></div>
  </div>
</div>
<div class="images-descricoes">
  <div class="compromisso">
    <img class="imgCompromisso" src="../../../assets/compromisso.png" alt="">
    <p class="txt-escolha">Desde o orçamento até o pós venda, garantimos um real compromisso com nosso cliente, para que o mesmo tenha a melhor experiência possível.</p>
  </div>
</div>
<div class="images-descricoes">
  <div class="compromisso">
    <img class="imgCompromisso" src="../../../assets/orcamento.png" alt="">
    <p class="txt-escolha">Contamos com orçamento GRATUITO! Vamos até você sem compromisso!</p>
  </div>
</div>
<div class="images-descricoes">
  <div class="compromisso">
    <img class="imgCompromisso" src="../../../assets/garantia.png" alt="">
    <p class="txt-escolha">Para maior confiança, damos garantia de 1 ano em todos os serviços disponíveis por nossa empresa!</p>
  </div>
</div>
<div class="images-descricoes">
  <div class="compromisso">
    <img class="imgCompromisso" src="../../../assets/qualidade.png" alt="">
    <p class="txt-escolha">Na compra de materiais, sempre buscamos os melhores produtos, para entregar um serviço de qualidade!</p>
  </div>
</div>

