@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Suez+One&display=swap');
.container-1{
  display: flex;
  justify-content: center;
  width: 100%!important;

}
.sobre-nos{
  background:linear-gradient(rgba(59, 56, 56, 0.664),rgba(0, 0, 0, 0.603)100%),url('../../../assets/vidropic.jpg')!important;
  width: 100%;
  height: 1080px;;
  border-radius: 16px 16px 0px 0px;
  border: 2px solid rgb(133, 133, 145);
  display: flex;
  align-items: center;
  color: aliceblue;
}
.text-sobre-nos{
  background-color: rgba(42, 48, 85, 0.589);
  width: 40%;
  padding:50px;
}
p{
  font-size:18pt;
}
.servicos{
  width: 50%;
  height: 350px;
  margin-top: 200px;
  border-radius: 18px;
  border: 2px solid rgb(133, 133, 145);
}
.button-div{
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.button-benefits{
  text-align: center;
  margin-top: 150px;
  border: none;
  font-size: 20px;
  cursor:pointer;
  border-radius: 8px;
  padding:25px;
  margin-bottom: 20px;
  margin-bottom: 12px;
  box-shadow: 0 0 1em rgb(22, 66, 117);
  color: rgb(8, 8, 90);
}

.button-benefits:hover{
  background: rgb(42,48,95);
  background: linear-gradient(0deg, rgba(42,48,95,1) 0%, rgba(55,61,105,1) 32%, rgba(100,105,139,1) 69%);
  color: aliceblue;
  font-size: 28px;
  margin-bottom: 0px;
}

.button-services,
.button1,
.button2{
  background-color: rgb(225, 238, 238);
  border: none;
  font-size: 16pt;
  cursor:pointer;
  border-radius: 18px;
  padding:5px;
  margin-bottom: 20px;
}

.button-services:hover,
.button2:hover,
.button1:hover{
  background-color: rgba(62, 72, 131, 0.973);
  color: aliceblue;
}


.frase-efeito{
  background-color: rgba(42, 48, 85, 0.589);
  font-style: italic;
  text-align: center;
  height: 150px;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 0 2em rgb(35, 13, 230);
}
.text-efeito{
  font-size: 40px;
  margin-top: 40px;
}
.aspas{
  font-size: 100px;
  color: aliceblue;
  animation-name: animaAspas;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.container-baixo{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(8, 8, 90);
  justify-content: center;
  align-items: center;
}

.Carousel{
  margin-bottom: 80px;
}
.txt-escolha{
  max-width: 650px;
  margin-left: 50px;
  color: rgb(8, 8, 90);
}

@keyframes animaAspas {
  from {color:transparent;}
  to {color:aliceblue;}
}

h1{
  font-family: 'Suez One', serif;
  font-size:40px;
}

h2{
  font-family: 'Jost', sans-serif;
  margin-top: 5px;
  font-size: 30px;
}
p{
  font-family: 'Jost', sans-serif;
  margin-top: 5px;
  font-size: 30px;

}
.text-services{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vantagens{
  display: flex;
  justify-content: center;
}

.vantagens-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  color: rgb(8, 8, 90);

}
.linha{
  width: 100%;
  border-bottom: 2px solid blue;
}
.text-vantagens{
  width: 900px;
}

.images-descricoes{
  margin-top: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.compromisso{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1300px;
}
.imgCompromisso{
  width: 30%;
}
.button-services{
  width: 200px!important;
  color: rgba(42, 48, 85, 0.767);
  background-color: transparent!important;
  background-color: rgb(107, 180, 245)!important;
}

@media only screen and (max-width: 600px) and (min-width: 280px) {
  .container{
    width: 100%;
    overflow: hidden;
  }
  .sobre-nos{
    height: 100%;
  }
  .text-sobre-nos{
    width:100%;
    padding:0px;
    height: 100%;
  }
  .text-efeito{
    width: 60%;
    font-size: 20px;
  }
  .container-baixo{
    flex-direction: column;
  }
  .frase-efeito{
    height: 90%!important;
  }

  .container-baixo{
    display: flex;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .text-services{
    align-items: center;
  }
  .linha{
    display: none;
  }
  .text-vantagens{
    border-bottom:2px solid;
    width: 80%;
  }
  .compromisso{
    flex-direction:column;
  }
  .imgCompromisso{
    width:60%;
  }
  .txt-escolha{
    margin: 0px;
  }
}


@media only screen and (max-width: 1024px) and (min-width: 600px) {
  .sobre-nos{
    height: 800px;
  }
  .text-sobre-nos{
    width:50%;
    padding:0px;
    height: 100%;
  }
  .frase-efeito{
    height: 90%!important;
  }
}
